.quiz-wrapper {
    display: flex;
    justify-content: center;  
    align-items: center;      
    height: 100vh;             
}
  
.quiz-container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 600px;         
    text-align: left;
}
  
  
.question-container {
    margin-bottom: 15px;
}
  
label {
    display: block;
    margin: 5px 0;
}
  
button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
  
button:hover {
    background-color: #45a049;
}
  
#result {
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
}